// https://github.com/twbs/bootstrap/tree/v4-dev/scss

@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-SemiBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Serrano Pro";
  src: url("/fonts/SerranoPro-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Expert Sans";
  src: url("/fonts/ExpertSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Expert Sans";
  src: url("/fonts/ExpertSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Expert Sans";
  src: url("/fonts/ExpertSans-ExtraLight.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Expert Sans";
  src: url("/fonts/ExpertSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

$primary: #032e66;
$light: #f6f6f6;
$secondary: #5a5a5a;
$dark-font: #002e6b;
$font-family-sans-serif: "Serrano Pro", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
